/*
Theme URI: http://www.griasolutions.com
Description: WordPress theme inspired by Brooklyn, NY.
Author: Gria Solutions, LLC
Author URI:  http://www.griasolutions.com
Version: 1.0.0
*/

@import "wp-brooklyn.css";