@import "variables.less";
@import "mixins.less";

.home #container {

  header {
    margin-bottom: 1.5em;
    text-align: center;

    h1 {
      border: 0;
      margin: 0;
      padding: 0;
      .title(@hero-font-size);
    }

    h2 {
      color: #888;
      margin: .5em 0 0;
      .title(1.5em);
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.75em;
    }

  }

  article {
    border: 1px solid @divider-color;
    border-bottom: 0;
    margin: 0 auto;
    padding: 20px;
    width: auto;

    a {
      border: 0;
      .clear-fix();
      &:hover {
        h1 {
          color: #ddd;
        }
      }

      span {
        color: #ddd;
        float: left;
        margin: 0 25px 0 0;
        .link-box();
      }

    }

    .post-excerpt {
      float: left;
      padding: 5px 0;
      text-align: left;

      h1 {
        color: #999;
        font-family: @content-font-stack;
        font-size: 1.2em;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 0;
        text-align: left;
      }

      time {
        color: #777;
        font-size: .8em;
        margin: 0;
        padding: 0;
      }

    }

  }

}