@import "variables.less";
@import "mixins.less";

#branding {
  background: #111;
  border-bottom: 10px solid @brooklyn-blue;
  left: 0;
  padding: 7px 0 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .nav-home {
    float: left;
    padding-left: 25px;
    .nav-icon();
  }

  a {
    color: #ddd;
    text-decoration: none;
  }

  h1 {
    float: left;
    .title(.8em);
    font-weight: 700;
    letter-spacing: 3px;
    padding: 8px 0 0 15px;
    text-transform: uppercase;
  }

  .nav-controls {
    float: right;
    margin: 0;
    padding: 3px 15px 0;
  }

  .nav-note {
    color: #999;
    font-family: @content-font-stack;
    font-size: .8em;
  }

  .nav-toggle {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 15px;
    .nav-icon();
  }

}

nav.primary-nav {
  background: @brooklyn-blue;
  padding: 5px 0 10px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: .75em;
      margin: 0 2em;
      padding: 0;
      text-align: center;
      text-shadow: darken(@brooklyn-blue, 15%) -1px -1px 1px;

      a {
        color: cornflowerblue;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
          color: #ddd;
        }
      }

    }

  }

}