@title-font-stack: Oswald, sans-serif;
@content-font-stack: "Noto Sans", Helvetica, sans-serif;
@code-font-stack: Monaco, monospace;

@hero-font-size: 115px;
@hero-subtitle-font-size: 28px;
@nav-icon-font-size: 14px;

@post-title-font-size: 72px;
@post-secondary-title-font-size: 36px;
@post-tertiary-title-font-size: 18px;

@primary-content-font-size: 18px;
@secondary-content-font-size: 12px;

@brooklyn-blue: #005596;
@content-color: #999;
@muted-content-color: #666666;
@header-color: #333;
@link-color: #ddd;

@divider-color: #444;